<h1>Listing articles</h1>
 <%= link_to 'New article', new_article_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan='3'></th>
  </tr>
 <!--生成“Destroy”链接的 link_to 用法有点不一样，第二个参数是具名路由，随后还传入了几个参数。:method 和 :'data-confirm' 选项设置链接的 HTML5 属性，点击链接后，首先会显示一个对话框，然后发起 DELETE 请求。这两个操作通过 jquery_ujs 这个 JavaScript 脚本实现。生成程序骨架时，会自动把 jquery_ujs 加入程序的布局中 -->
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show',article_path(article) %></td>
      <td><%= link_to 'Edit',edit_article_path(article)  %></td>
      <td><%= link_to 'Destroy',article_path(article) ,
      method: :delete,data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>




